/* Body */
:root {
  --color-zelda-green: #008000;
  --color-gold: #ffbf00;
  --ruppe-size: 120px;
}

body {
  background-color:var(--color-zelda-green);
  padding: 0px;
  margin: 0px;
}

body * {
  font-family: 'Hylia serif';
  color: var(--color-gold);
}
input[type=text] {
  border: 1px solid #000;
  color: #000;
}

section.botw {
  padding: 30px 60px;
}

/* Fonts */

@font-face {
  font-family: 'Hylian symbols';
  src: url("./HylianSymbols.ttf");
}

@font-face {
  font-family: 'Hylia serif';
  src: url("./HyliaSerifBeta-Regular.otf");
}

/* Symbols */

i.symbol:before {
  font-family: 'Hylian symbols';
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: normal;
}

i.symbol.force:before { content: "a"; }
i.symbol.triforce:before { content: "b"; }
i.symbol.pending1:before { content: "c"; }
i.symbol.eye:before { content: "d"; }
i.symbol.pending2:before { content: "e"; }
i.symbol.sheikah:before { content: "f"; }
i.symbol.gerudo:before { content: "g"; }
i.symbol.kokiri:before { content: "h"; }
i.symbol.zora:before { content: "i"; }
i.symbol.goron:before { content: "j"; }
i.symbol.royalcrest:before { content: "k"; }
i.symbol.din:before { content: "l"; }
i.symbol.farore:before { content: "m"; }
i.symbol.nayru:before { content: "n"; }
i.symbol.light:before { content: "o"; }
i.symbol.forest:before { content: "p"; }
i.symbol.water:before { content: "q"; }
i.symbol.spirit:before { content: "r"; }
i.symbol.shadow:before { content: "s"; }

/* Rupees */

.rupee {
  --size: var(--ruppe-size);
  --ratio: 2; /* 15px */
  --carat: 0.7;
  --color-main: red;
  --color-second: #660808;
  --color-third: #9c0a0a;
  --color-fourth: #ff3c3c;
  --color-fiveth:  #7d1818;
  position: relative;
  width: var(--size);
  height: calc(var(--size) * var(--ratio));
  background: linear-gradient(90deg, var(--color-main) 0%, var(--color-main) 50%,var(--color-third) 50.01%, var(--color-third) 100%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: inline-block;
}

.rupee.short {
  --ratio: 1.5;
}


.rupee.extrashort {
  --ratio: 1.2;
}

.rupee.green {
  --color-main:#73a925;
  --color-second:#90ce11;
  --color-third:#678c40;
  --color-fourth: #8cbb2a;
  --color-fiveth:  #437d0c;
}

.rupee.blue {
  --color-main: #0e299a;
  --color-second: #142c9a;
  --color-third: #23479a;
  --color-fourth: #0f275a;
  --color-fiveth:  #18627d;
}

.rupee.purple {
  --color-main: purple;
  --color-second:#3c0866;
  --color-third: #430a9c;
  --color-fourth: #b13cff;
  --color-fiveth:  #541294;
}

.rupee.yellow {
  --color-main: yellow;
  --color-second: #d2c119;
  --color-third: #9c910a;
  --color-fourth: #ffc03c;
  --color-fiveth:  #7b6415;
}

.rupee:before {
  content: " ";
  position: absolute;
  top: calc(((var(--size) * var(--ratio)) - (var(--size) * var(--ratio) * var(--carat))) / 2);
  left: calc(var(--size) * ((1 - var(--carat)) / 2));
  width: calc(var(--size) * var(--carat));
  height: calc(var(--size) * var(--ratio) * var(--carat));
  background-color:var(--color-second);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: block;
  z-index: 10
}

.rupee:after {
  --border: calc((var(--size) * var(--ratio)) / 13.33); /* TODO: how to calcualte this */
}

.rupee.short:after {
  --border: calc((var(--size) * var(--ratio)) / 15); /* TODO: how to calcualte this */
}

.rupee.extrashort:after {
  --border: calc((var(--size) * var(--ratio)) / 16); /* TODO: how to calcualte this */
}

.rupee:after {
  content: " ";
  position: absolute;
  top: calc(((var(--size) * var(--ratio)) / 4));
  left: 0px;
  width: calc(var(--size) * var(--carat));
  height: calc((var(--size) * var(--ratio) / 2) - (var(--border) * 2));
  background-color: transparent;
  display: block;
  z-index: 5;
  border-top: var(--border) solid transparent;
  border-bottom: var(--border)  solid transparent;
  border-left: calc(var(--size) * ((1 - var(--carat)) / 2)) solid var(--color-fourth);
  border-right: calc(var(--size) * ((1 - var(--carat)) / 2)) solid var(--color-fiveth);
}

